%block-styles {
  background: #343a40;
  flex: 1;
  height: 70%;
  margin: 20px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  h2 {
    margin-top: 25px;
    font-size: 35px;
    color: #8e9ba7;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 20px;
      text-align: center;
    }
  }
}

.wrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: cadetblue;
  .first-block {
    @extend %block-styles;
    li {
      margin-top: 30px;
      span {
        color: rgb(245, 61, 61);
        text-transform: uppercase;
      }
    }
  }

  .second-block {
    @extend %block-styles;
    h2 {
      margin-bottom: 30px;
    }
    li {
      margin-top: 10px;
      &:hover {
        border-bottom: 1px solid white;
        cursor: pointer;
        background-color: floralwhite;
        color: #6c757d;
      }
    }
    p {
      font-size: 25px;
    }
  }
}

.planet-item {
  list-style: none;
  padding: 0;
  font-size: 25px;
  text-align: center;
  color: rgb(245, 61, 61);
}
