$total-items: 10;

ul {
  width: 500px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#starship {
  position: relative;
  display: block;
  border: 1px solid rgb(10, 10, 10);
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  span {
    color: rgb(175, 6, 6);
  }
  &:hover {
    cursor: pointer;
    background-color: #343a40;
    color: white;
    border-color: white;
    span {
      color: rgb(245, 14, 14);
    }
  }
}

// Set delay per List Item
@for $i from 1 through $total-items {
  #starship:nth-child(#{$i}) {
    animation-delay: 0.25s * $i;
  }
}

// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

form {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.input-field {
  margin-left: 40px;
  position: relative;
  width: 450px;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}

input:focus {
  border-color: rgb(10, 10, 10);
}

input:focus ~ label {
  font-size: 14px;
  top: -24px;
  color: rgb(10, 10, 10);
}
