$total-items: 10;

ul {
  width: 500px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#item {
  position: relative;
  display: block;
  border: 1px solid rgb(10, 10, 10);
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  span {
    color: rgb(175, 6, 6);
  }
  &:hover {
    cursor: pointer;
    background-color: #343a40;
    color: white;
    border-color: white;
    span {
      color: rgb(245, 14, 14);
    }
  }
}

// Set delay per List Item
@for $i from 1 through $total-items {
  #item:nth-child(#{$i}) {
    animation-delay: 0.25s * $i;
  }
}

// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
